

a{
  color: black !important;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.item{
  width: 30%;
}
.home{
  
}
.home-card{
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
}
#toast-container{
  top:30px !important;
  right:20px !important;
  left: auto !important;
}